/*Basic Css*/

body{
  background-color: #fff;
  color: #333;
  font-family: Lato, sans-serif;
  margin: 10px;
  /*width: auto;*/
}

.main-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3em;
}

.todo{
  margin-top: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 90vw;
}

#new-task{
  font-weight: 700;
  border: 2px solid #ece3e3;
  margin: 1em;
}

#input-error{
  color: red;
}
ul li{
  list-style-type: none;
}

#tasklist{
  display: flex;
  flex-direction: column;
  text-align: justify;
  overflow-wrap: break-word;
  max-width: 20vw;
}

#tasklist li{
  line-height: 1.5;
  padding: 10px;
  font-size: 20px;
  border-right: 2px solid green;
  margin: 10px;
}

#tasklist li:hover, li label:hover, input[type='checkbox']{
  background-color: #90ee90;
  cursor: pointer;
}

.completed-task input:checked + label {
  text-decoration: line-through;
}

.completed-task input[type="checkbox"]:checked {
  box-shadow: 0 0 0 3px green;
  margin: 10px;
}
